::selection {
    color: black;
    background: rgb(255, 127, 76);
    -webkit-text-fill-color: black;
}

.mainPage {
    background: linear-gradient(#f9faff 0%, #fffcf0 100%);
    font-size: 2cqw;
    overflow: hidden;
}

.animatedTitle {
    position: relative;
    margin-bottom: 20rem;
    padding-top: 8rem;
    filter: drop-shadow(0 0 0.75rem rgb(220, 90, 20));  

    h1, p {
        width: fit-content;
        margin: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    h1 {
        font-size: 14rem;
        background: rgb(255, 127, 76);
        background: linear-gradient(to right, rgb(255, 127, 76) 0%, crimson 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0 0 0.20rem rgb(232, 223, 255));
    }
}

.introduction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: visible;
    margin-bottom: 45rem;
    text-align: center;

    p {
        font-size: 4rem;
        margin-bottom: 7rem;
        text-shadow: 0.2rem 0.1rem 0.75rem rgba(0, 0, 0, 0.624);
    }
}

.gradient {
    background: linear-gradient(#fffcf0 0%, #eeead9 4%, #64635d 24%, #2e2d2c 40%, #1e1e1e 50%);
}

.imgWrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

.hoverWrapper {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    li {
        margin-bottom: 2rem;
    }

    li:nth-child(even) {
        rotate: 2deg;
    }
    
    li:nth-child(odd) {
        rotate: -2deg;
    }
}

p {
    position: relative;
    margin: 0;
    font-size: 2rem;
    transform: translateY(-100px);
    width: fit-content;
}

img {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    filter: drop-shadow(0 0 1rem #5c4100b8);
    margin: 2rem;
    z-index: 5;
    width: 90%;
    height: auto;
}

li {
    list-style: none;
}