.footer {
    width: 100%;
    height: fit-content;
    border-top: 2px solid white;
    background: rgb(250,177,0);
    background: linear-gradient(180deg, rgba(250,177,0,1) 0%, rgba(255,136,0,1) 100%);
    display: flex;
    align-items: center;

    p {
        font-size: 32px;
        letter-spacing: -3px;
        padding-left: 10px;
    }
}