@import "../pages/Homepage.module.scss";

.container {
    position: relative;
    margin-top: 10rem;

    .musicH2 {
        color: #fff0e1;
        position: absolute;
        left: 16rem;
        top: -20rem;
        font-size: 8.1rem;
        filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.5));
        transform: rotate(-10deg);
    }
}

.scroller {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: flex;
}

.songs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    gap: 2rem;
    padding-left: 2rem;
    animation: scrollLeft 55s linear infinite;

    &.paused {
        animation-play-state: paused;
    }

    .links {
        font-size: 1.3rem;
        color: #cccccc;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 100;
    }

    iframe {
        width: 50vw;
        height: 10rem;
        border-radius: 1rem;
        border: none;
    }

    a {
        color: #cccccc;
        text-decoration: none;
    }
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: $mediaMaxWidth) {
    .musicH2 {
        left: 50% !important;
        transform: rotate(0deg) translateX(-50%) !important;
    }
}

@media (max-width: $mediaMinWidth) {
    .musicH2 {
        font-size: 20vw !important;
        top: -60vw !important;
    }

    .songs {
        animation: scrollLeft 25s linear infinite !important;
    }
}