@import "../pages/Homepage.module.scss";

.container {
    position: relative;
    
    .projectH2 {
        position: absolute;
        right: 16rem;
        top: 5rem;

        font-size: 8.1rem;
        
        filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.5));
        transform: rotate(10deg);
    }
}

.wrapper {
    overflow: hidden;
}

.projects {
    height: 100rem;
    width: 102%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    
    transform: rotateZ(2deg);
    
    * {
        -webkit-tap-highlight-color: #ff88000a;
    }
    
    li {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;

        position: absolute;
        transform-origin: center center;
        transition: opacity 0.3s ease, transform 0.08s ease;
        cursor: pointer;
    }

    .img {
        width: 15rem;
        height: auto;
    }

    .noImg {
        background: rgba(255, 225, 198, 0.845);
        border-radius: 0.6rem;
        width: 15rem;
        height: 15rem;
        
        div {
            display: flex;
            height: 100%;
            width: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            word-break: break-word;
        }
    }
    
    perspective: 10rem;
    transform-style: preserve-3d;
}

.selectedProject {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    background: #fff9ec;
    border-radius: 0.2rem;
    width: 40rem;
    filter: drop-shadow(0 0 0.25rem rgba(255, 249, 249, 0.727));  
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-height: 14rem;
    
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;

    &.enter {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &.leave {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.95);

        a {
            pointer-events: none;
            touch-action: none;
        }
    }

    &:hover {
        cursor: pointer;
    }

    .selectedHead {
        display: flex;
        align-items: center;  // Vertically centers the logo with the text
        border-bottom: rgba(245, 172, 172, 0.623) 0.2rem dashed;

        & > * {
            width: 100%;
            height: 100%;
            margin: 0;
            background: none;
        }

        .logoContainer {
            width: 3.5rem;
            height: 3.5rem;
            margin-right: 0.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
    
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    .selectedBody {
        padding: 0.6rem 0rem 0.8rem 0.6rem;
        
        .language {
            color: rgb(138, 42, 42);
            filter: drop-shadow(0 0 0.15rem rgba(255, 209, 209, 0.727));  
            text-align: right;
            width: 95%;
            font-size: 1.5rem;
        }
    }
}

@media (max-width: $mediaMaxWidth) {
    .projectH2 {
        right: 50% !important;
        transform: rotate(0deg) translateX(50%) !important;
    }
}

@media (max-width: $mediaMinWidth) {
    .projectH2 {
        font-size: 20vw !important;
        top: -25vw !important;
    }

    .projects {
        margin-top: 25vw;
        margin-bottom: 25vw;
        transform: none !important;
        display: flex;
        flex-direction: column;
        gap: 5vw;
        height: auto !important;

        & > * {
            position: static !important;
            width: 50vw !important;

            * {
                width: 50vw !important;
            }
        }
    }

    .selectedProject {
        width: 80vw !important;
        position: fixed !important;
    }
}