.container {
    position: relative;
    h2 {
        position: absolute;
        right: 16rem;
        top: -20rem;

        font-size: 8.1rem;
        
        filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.5));
        transform: rotate(10deg);
    }
}

.wrapper {
    overflow: hidden;
}

.projects {
    height: 100rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    
    transform: rotateZ(2deg);
    
    
    li {
        position: absolute;
        transform-origin: center center;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    li[data-highlight] { 
        filter: drop-shadow(0 0 0.2rem #fab100A7);
    }

    img {
        width: 4em;
        height: auto;
    }
    
    perspective: 10rem;
    transform-style: preserve-3d;
}
